# For idea
.idea
*.iml
*.ipr
*.iws
**/out

# For Eclipse
.classpath
.project
.settings/
**/bin

# For Gradle
**/build
.gradle

# For local
temp

# For mac
.DS_Store

# For windows
Thumbs.db
/.metadata/
/.recommenders/
